chef_guid
cookbooks/build-essential
cookbooks/git
cookbooks/git_user
cookbooks/homebrew
cookbooks/mingw
cookbooks/seven_zip
cookbooks/ssh_known_hosts
cookbooks/user
cookbooks/windows
local-mode-cache
nodes
